NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=nock0
DB_USER=nock0
DB_PASSWORD=nock0_dev_password
DB_ROOT_PASSWORD=root_dev_password

GAME_NAME=Nock0
GAME_HOST=0.0.0.0
GAME_PORT=8080
ADMIN_PORT=8081

WANTED_DECAY_MS=30000
WANTED_MAX_LEVEL=5
